.editorconfig
.gitattributes
.github/
.idea/
.vscode/
.yarn/
.yarnrc.yml
biome.json
build.js
coverage/
lint-staged.config.js
node_modules/
output/*.test.*
output/tsconfig.tsbuildinfo
renovate.json
source/
tsconfig.json
