.editorconfig
.gitattributes
.github/
.idea/
.prettierignore
.prettierrc.json
.vscode/
.yarn/
.yarnrc.yml
build.js
coverage/
eslint.config.js
lint-staged.config.js
node_modules/
output/*.test.*
output/tsconfig.tsbuildinfo
prettier.config.js
renovate.json
source/
tsconfig.json
